/* -------------------------------------------------------------------------- */
/*                           CUSTOM ADMIN LTE STYLES                          */
/* -------------------------------------------------------------------------- */
/* brand logo on sidebar */
a.brand-link.logo-switch img.brand-image-xs.logo-xl{
    width: 90%;;
}

.navbar-nav > .user-menu > .dropdown-menu {
    width: unset;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .5rem;

}